<p>observable works!</p>

<!-- 
<div>

    Value from Observable - {{ asyncObservable$ | async }}
</div> -->

<button routerLink="datafromapi">Data from API</button>
<button routerLink="of">of</button>
<button routerLink="from">from</button>
<button routerLink="interval">interval</button>
<button routerLink="timer">timer</button>


<router-outlet></router-outlet>

<!-- 
<p *ngFor="let item of ngForObs$ | async">
    Item - {{item}}
</p>

@for(item of ngForObs$ | async; track $index){

    <p>Item No. - {{item}}</p>
} -->