<p>observable works!</p>

<!-- 
<div>

    Value from Observable - {{ asyncObservable$ | async }}
</div> -->

<button routerLink="datafromapi">Data from API</button>

<h2>Creation Operators</h2>
<button routerLink="of">of</button>
<button routerLink="from">from</button>
<button routerLink="interval">interval</button>
<button routerLink="timer">timer</button>
<button routerLink="empty">empty</button>

<h2>Pipeable Operators</h2>
<button routerLink="map">map</button>
<button routerLink="filter">filter</button>
<button routerLink="fromevent">fromEvent</button>
<button routerLink="mergemap">mergeMap</button>

<router-outlet></router-outlet>

<!-- 
<p *ngFor="let item of ngForObs$ | async">
    Item - {{item}}
</p>

@for(item of ngForObs$ | async; track $index){

    <p>Item No. - {{item}}</p>
} -->