{{ numberarray | sortNumber : "asc" }}
<br>
{{ numberarray | sortNumber : "desc"}}
<br>

{{ "abcdef ghij khsdkabcfhasd" | lettercount}}



<br>
{{ 456 | number : '1.2-3' }}

<br>

{{"Good" | appendText : " Morning"}}

<br>
{{ array | json}}

<br>
{{ numberarray | json}}

<table class="table-container">
  <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
    </tr>
  </thead>

  <tbody>
    @for(item of array; track item.id){
    <tr>
      <td>{{ item.id | currency : "USD"}}</td>
      <td>{{ item.name | slice : 0: 1}}</td>
    </tr>
    }
  </tbody>
</table>







<div>
  <label for="colorInput">Select Color</label>&nbsp;
  <input type="color" name="colorInput" id="colorInput" #color>
</div>



<div [style.backgroundColor]="selectedColor">
  <h1>App Component</h1>
  <p>
    Lorem ipsum
  </p>
</div>

<div>
  <label for="colorInput1">Select Color</label>&nbsp;
  <input type="color" name="colorInput1" id="colorInput1" #color1>
</div>