<p (dragover)="updateValue(1)">
  Ram
</p>

<h1 (drag)="updateValue(1)">I am h12</h1>

<input *ngIf="true" type="text" [(ngModel)]="title" disabled="{{isDisabled}}">
<br><br>
<input type="text" (keyup)="updateValue(1)" #aaa [value]="title" [disabled]="isDisabled">

<br><br>
{{title}} <br>
Count - {{count}}
<br>

<button  (click)="updateValue(1)">Click me</button>
<br>
<input type="text" (keydown)="keypressed($event)">

<br>

<!-- older for-->
<p *ngFor="let item of array; trackBy:trackByFunction"> {{ item.id + " " + item.name}}</p>

<br>

@for (item of array; track item.id){
  <p>{{ item.id + " " + item.name}}</p>
}@empty{
  <p>No items found</p>
}
<br>
<button  (click)="updateItem()">update list</button>

<!-- older switch -->
<div [ngSwitch]="isDisabled">
  <p *ngSwitchCase = "true">true 1</p>
  <p *ngSwitchCase = "true">true 2 </p>
  <p *ngSwitchCase = "false">false</p>
  <p *ngSwitchDefault>Default 1</p>
  <p *ngSwitchDefault>Default 2</p>
</div>


@switch (isDisabled){
  @case (true) {<p>true value</p>}
  @case (false) {<p>false value</p>}

  @default {<p>Default value</p>}
  @default {<p>Default value</p>}
}



