  <header >
    <nav>
      <ul>
        <li><a href="#" routerLink="./work">Work</a> </li>
        <li><a href="#" routerLink="./news">News</a> </li>
        <li><a href="#" routerLink="./about">About</a> </li>
        <li><a href="#" routerLink="./tokenInj">Token</a> </li>
        <li><a href="#" routerLink="./observable">Observable</a></li>
        <li><a href="#" routerLink="./signal">Signal</a></li>
        <li><a href="#" routerLink="./changeDetection">Change Detection</a></li>
        <li><a href="#" routerLink="./tempform">Temp Driven Form</a></li>
        <li><a href="#" routerLink="./reactivefrom">Reactive Form</a></li>
      </ul>
    </nav>
  </header>


<!-- <app-child-comp></app-child-comp> -->

  
  {{out}}
  <router-outlet>
  </router-outlet>


<br>
<br>
<!-- 
<a routerLink="./child"> Child Component</a>

<button routerLink="./child">Child Component</button>

{{ numberarray | sortNumber : "asc" }}
<br>
{{ numberarray | sortNumber : "desc"}}
<br>

{{ "abcdef ghij khsdkabcfhasd" | lettercount}}



<br>
{{ 456 | number : '1.2-3' }}

<br>

{{"Good" | appendText : " Morning"}}

<br>
{{ array | json}}

<br>
{{ numberarray | json}}

<table class="table-container">
  <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
    </tr>
  </thead>

  <tbody>
    @for(item of array; track item.id){
    <tr>
      <td>{{ item.id | currency : "USD"}}</td>
      <td>{{ item.name | slice : 0: 1}}</td>
    </tr>
    }
  </tbody>
</table>







<div>
  <label for="colorInput">Select Color</label>&nbsp;
  <input type="color" name="colorInput" id="colorInput" #color>
</div>



<div [style.backgroundColor]="selectedColor">
  <h1>App Component</h1>
  <p>
    Lorem ipsum
  </p>
</div>

<div>
  <label for="colorInput1">Select Color</label>&nbsp;
  <input type="color" name="colorInput1" id="colorInput1" #color1>
</div> -->