<p>signal works!</p>

<button routerLink="creation"> Creation</button>
<button routerLink="todolist"> To Do List</button>
<button routerLink="computedsignals"> Computed Signals</button>
<button routerLink="effectsignals"> Effect, oncleanup Signals</button>
<button routerLink="untracksignals"> untrack Signals</button>
<button routerLink="cartsignals"> Cart Signals</button>
<button routerLink="linkedsignals"> Linked Signals</button>
<button routerLink="obstosignal"> Obs to Signal convt</button>
<button routerLink="task2"> Task 2 signal</button>

<router-outlet></router-outlet>
